* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* navbar */

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 20px;
}
.logo-box {
  display: flex;
  gap: 4px;
}
.nav-logo-name {
  color: #000;
  font-weight: bold;
  font-size: 28px;
}
.nav-logo-name1 {
  color: #fe8c3e;
  font-weight: bold;
}

.navlinks {
  display: flex;
  gap: 30px;
}
.nav-icons-box {
  display: flex;
  gap: 30px;
  margin-right: 30px;
}

.li {
  text-decoration: none;
  color: #fe8c3e;
  font-size: 1.3rem;
  font-weight: 500;
}
.li:hover {
  border-bottom: 3px solid #f1690f;
  transition: all 5s ease-in-out;
}
.open-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 30px;
  background-color: bisque;
  border-radius: 10px;
  padding: 7px;
}
.list-group {
  margin-top: 6px;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: 500;
  transition: background-color 0.3s ease;
}
.list-group:hover {
  border-bottom: 3px solid #f1690f;
  transition: all 5s ease-in-out;
}
.close-icon {
  font-size: 40px;
  background-color: #fe8c3e;
  border-radius: 50%;
  cursor: pointer;
  padding: 0px;
}
.ham-close {
  display: block;
}
/* Herosection */
.hero-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  padding: 1rem;
}

.hero-section {
  display: flex;
  overflow: hidden;
  flex-shrink: 1;
}
.hero-sec-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
}
.hero-heading {
  color: #000;
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 10px;
  margin-left: 30px;
}
.hero-heading1 {
  color: #fe8c3e;
  font-weight: bold;
}
.hero-para {
  background-color: #f78e48;
  color: white;
  padding: 1rem;
  border: rgb(132, 111, 114);
  border-radius: 20px;
  font-size: 1.3rem;
  line-height: 1.4rem;
  letter-spacing: 1px;
}
.hero-para:hover {
  background-color:white ;
  color: #f1690f;
  transition: background-color 0.8s ease-in-out;
  box-shadow: 4px 4px 10px #f78e48;
}
/* card section */

.card-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 30px;
}

.carddetails {
  display: flex;
  flex-direction: column;
  background-color: #f78e48;
  color: black;
  padding: 1rem;
  margin: 20px;
  border-radius: 10px;
}
.carddetails:hover {
  background-color:white ;
  color: #f1690f;
  transition: background-color 0.8s ease-in-out;
  box-shadow: 4px 4px 10px #f78e48;
}

.cardimage {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #f78e48;
}
.mainheading {
  color: #000;
  font-weight: bold;
  font-size: 3.5rem;
}
.heading {
  color: white;
  font-weight: bold;
}
.description {
  color: white;
  padding: 1rem;
  border: rgb(132, 111, 114);
  border-radius: 20px;
  font-size: 1.5rem;
  line-height: 1.6rem;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.discover-section {
  margin-top: 60px;
}
.btn-link{
  background-color: white;
  color: #fe8c3e;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.btn-link:hover {
  background-color: #f1690f;
  color: white;
  transition: background-color 1s ease-in-out;
}

@media (max-width: 640px) {
  .container {
    max-width: 640px;
  }

  .navlinks {
    display: none;
  }
  .navbar-container {
    padding: 10px;
    margin-right: -10px;
    margin-top: 0px;
  }

  /* Herosection */
  .hero-sec-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .hero-heading {
    color: #000;
    font-weight: bold;
    font-size: 2.5rem;
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    
   
  }
  .mainheading {
    color: #000;
    font-weight: bold;
    font-size: 2rem;
  }
  .heading {
    color: white;
  }
  .discover-section{
    margin-top: 140px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }
  .hero-img {
    width: 550px;
    height: 600px;
  }
  .hero-container {
    display: flex;
    flex-direction: column;
    margin-top: -3rem;
    padding: 1rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .hero-sec-img{
    margin: -2.3rem;
  }
  .hero-img {
    width: 750px;
    height: 800px;
  }
}

/* main page */
.main-page {
  color: #1e1e1e;
  font-size: 1rem;
  max-width: 1728px;
  margin: auto;
}
